.btn-primary {
    color: #fff;
    background-color: #1a1a1a;
    border-color: #1a1a1a;
    font-weight: bold;
    text-transform: uppercase;
}

.price-label, .qty-label, .type-lbel {
    font-size: 14px;
    color: gray;
}

.name-label {
    font-size: 22px;
    text-transform: uppercase;
    font-weight: lighter;
}

.product-image {
    width: auto;
    height: 200px;
}

.shop-product-card {
    height: 250px;
}

.navbar {
    background-color: #000;
}

.navbar > a {
    color: #fff;
    text-transform: uppercase;
    font-weight: lighter;
    margin: 10px;
}

.navbar > a:hover {
    text-decoration: underline !important;
    cursor: pointer !important;
}

.navbar > a > img {
    margin-right: 10px;
}

